:host {
  max-width: 1440px;
  justify-content: flex-start;
}

.projects-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 44px;
}

@media (max-width: 1279px) {
  :host {
    justify-content: center;
    padding-bottom: 20px;
  }

  .projects-section {
    max-width: 568px;
    padding-bottom: 0;
  }
}