:host {
  max-width: 1248px;
  justify-content: flex-start;
}

.projects-section {
  width: 100%;
  max-width: 880px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 144px;
}

@media (max-width: 1279px) {
  :host {
    justify-content: center;
  }
  .projects-section{
    padding-bottom: 0;
  }
}