.info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  span.info-subtitle {
    font-family: var(--font-karla);
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
    color: var(--color-primary);
  }

  h2 {
    font-family: var(--font-fira-code);
    font-size: var(--fs-hero);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .info-box_text {
    font-family: var(--font-karla);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    color: var(--color-secondary);
  }
}

@mixin infox-box-variants {
  :host(.variant-about) .info-box {
    .info-box_content {
      width: 100%;
      max-width: 568px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 30px;
      border: var(--btn-border);
      background-color: var(--color-sec-background);
      padding: 32px;
      gap: 40px;
    }

    .info-box_list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-family: var(--font-karla);
      font-size: var(--fs-sm);
      font-weight: var(--fw-regular);
      color: color-mix(in srgb, var(--color-secondary) 80%, var(--color-transparent));

      li {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        transition: 200ms ease;

        &:hover {
          color: var(--color-secondary);
        }

        img {
          position: absolute;
          left: -52px;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  :host(.variant-skills) .info-box {
    .info-box_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 30px;
      border: var(--btn-border);
      background-color: var(--color-sec-background);
      padding: 32px;
      gap: 40px;
    }

    .info-box_question {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 16px;

      .question {
        font-family: var(--font-fira-code);
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        color: var(--color-secondary);
      }

      .question-text {
        font-family: var(--font-karla);
        font-size: var(--fs-xs);
        font-weight: var(--fw-regular);
      }

      .question-btn {
        margin-top: 24px;
      }
    }
  }

  :host(.variant-projects) .info-box {
    .info-box_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
    }

    .info-box_text {
      width: 100%;
      max-width: 456px
    }
  }

  :host(.variant-contact) .info-box {
    .info-box_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    h2 {
      width: 100%;
      max-width: 568px;
      padding-bottom: 40px;
      line-height: 1;
      letter-spacing: -3px;
    }

    .info-box_text {
      padding-bottom: 20px;
    }

    .info-box_text,
    .info-box_question {
      width: 100%;
      max-width: 568px;
      font-family: var(--font-karla);
      font-size: var(--fs-xs);
      font-weight: var(--fw-regular);
      color: var(--color-secondary);
      line-height: 1.2;
    }

    .highlight {
      font-weight: var(--fw-bold);
    }

    .issue-question {
      font-family: var(--font-fira-code);
      font-size: var(--fs-lg);
      font-weight: var(--fw-bold);
      color: var(--color-primary);
      line-height: 1.2;
      padding-bottom: 16px;
    }
  }
}

@include infox-box-variants;