<article class="info-box">
  <span class="info-subtitle">{{ content.subtitle }}</span>
  <div class="info-box_content">
    <h2>{{ content.title }}</h2>
    @if (variant === 'contact') {
    <span class="issue-question">{{ content.secondaryTitle }}</span>
    }
    @if (content.text) {
    <p class="info-box_text">{{ content.text }}</p>
    }
    @if (content.question?.length || content.questionText) {
    <div class="info-box_question">
      <p class="question">
        @for (part of content.question; track $index) {
        <span [class.highlight]="part.highlight">{{ part.text | translate }}</span>
        @if (part.paragraphBreak && currentLang === 'de') {
        <br />
        <br />
        }
        }
      </p>
      @if (variant === 'skills' && content.questionText) {
      <p class="question-text">{{ content.questionText | translate }}</p>
      <app-buttons type="button" class="question-btn" [label]="'info.letsTalk' | translate"
        (click)="scrollToContact('contact')"></app-buttons>
      }
    </div>
    }
    @if (content.infos?.length) {
    <ul class="info-box_list">
      @for (i of content.infos; track $index) {
      <li>
        @if (i.iconSrc) { <img [src]="i.iconSrc" alt=""> }
        <p>{{ i.descriptionKey | translate }}</p>
      </li>
      }
    </ul>
    }
  </div>
</article>