:host {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: linear-gradient(45deg, #1C1C1C 10%, #1C1C1C 35%, #08463B 100%);
    z-index: -1;
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    font-weight: var(--fw-regular);
    margin-bottom: 12px;
  }
}

.hero-buttons{
  display: flex;
  gap: 48px;
  margin-top: 40px;
}