<section class="hero-section">
    <div class="hero-title">
        <h2>{{ 'hero.h2' | translate }}</h2>
        <h1>Pascal Kasbeitzer</h1>
        <div class="hero-buttons">
            <app-buttons [label]="'hero.button1' | translate" type="button" (click)="scrollToContact('projects')"></app-buttons>
            <app-buttons [label]="'hero.button2' | translate" type="button" (click)="scrollToContact('contact')"></app-buttons>
        </div>
    </div>
    <div class="hero-overlay">
        <div class="overlay-aside">
            <aside class="left-lateral">
                <div class="scroll-down"></div>
                <div class="straight-line"></div>
            </aside>
            <aside class="right-lateral">
                <app-link label="pascal.kasbeitzer@gmail.com" variant="lateral-mail" [isExternal]="true"
                    href="#"></app-link>
                <div class="social-lateral">
                    <app-link variant="lateral-icon" [isExternal]="true" href="https://github.com/paskas"
                        iconSrc="/assets/icons/social/github.svg" iconHoverSrc="/assets/icons/social/github_hover.svg"
                        iconAlt="GitHub"></app-link>
                    <app-link variant="lateral-icon" [isExternal]="true"
                        href="https://www.linkedin.com/in/pascal-kasbeitzer-3638602bb/"
                        iconSrc="/assets/icons/social/linkedin.svg"
                        iconHoverSrc="/assets/icons/social/linkedin_hover.svg" iconAlt="GitHub"></app-link>
                </div>
                <div class="straight-line"></div>
            </aside>
        </div>
    </div>
    <div class="marquee" [class.is-ready]="marqueeReady">
        <div class="marquee-content">
            @for (item of marqueeContent; track $index) {
            <div class="content">
                <span>{{ item.textKey | translate }}</span>
                <img [src]="item.icon" alt="point icon" />
            </div>
            }
            @for (item of marqueeContent; track $index) {
            <div class="content">
                <span>{{ item.textKey | translate }}</span>
                <img [src]="item.icon" alt="point icon" />
            </div>
            }
        </div>
    </div>
</section>