:host {
  z-index: 2;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h2 {
      color: var(--color-accent);
      text-align: center;
    }

    h1 {
      letter-spacing: -.02em;
    }

    h2 {
      font-weight: var(--fw-regular);
      margin-bottom: 12px;
    }

    .hero-buttons {
      display: flex;
      gap: var(--gap-m);
      margin-top: 40px;
    }
  }
}

.hero-overlay {
  position: absolute;
  inset: 0;
  height: 100dvh;
  padding-inline: clamp(16px, 4vw, 96px);
  display: flex;
  align-items: end;
  justify-content: center;
  pointer-events: none;
  z-index: 1;

  .overlay-aside {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .left-lateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    .scroll-down {
      position: relative;
      width: 30px;
      height: var(--btn-height);
      border: var(--btn-border);
      border-radius: var(--btn-border-radius-xs);
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .scroll-down::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 14px;
      background: url(/assets/icons/arrow_down_hero.svg) no-repeat center / contain;
      animation: arrowBounce 1s cubic-bezier(0.42, 0, 0.58, 1) infinite 10ms;
    }

    .straight-line {
      width: 1px;
      height: 240px;
      border-radius: 32px;
      border: 1px solid var(--color-primary);
    }
  }

  .right-lateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .email-sideway {
      writing-mode: sideways-lr;
      text-orientation: mixed;
    }

    .social-lateral {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .mail {
      display: none;
    }

    .straight-line {
      width: 1px;
      height: 186px;
      border-radius: 32px;
      border: 1px solid var(--color-secondary);
    }
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }
}

.marquee {
  position: absolute;
  bottom: 38px;
  height: 62px;
  width: 99%;
  max-width: 1480px;
  padding: 12px 32px 12px 32px;
  overflow: hidden;
  transform: rotate(-3deg);
  z-index: 10;
  background: color-mix(in srgb, var(--color-secondary) 12%, transparent);
  backdrop-filter: blur(5.3px);
  mask-image: linear-gradient(to right, #0000, #000 20% 80%, #0000);
  display: flex;
  align-items: center;
  pointer-events: auto;

  &.is-ready .marquee-content {
    animation: marqueeMove 10000ms linear infinite;
    animation-delay: 1ms;
  }

  .marquee-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    white-space: nowrap;
    will-change: transform;
    gap: 0;
  }

  .content {
    display: inline-flex;
    align-items: center;
    gap: 56px;

    span {
      color: var(--color-primary);
      font-family: var(--font-karla);
      font-size: clamp(var(--fs-lg), 3vw, var(--fs-xl));
      font-weight: var(--fw-regular);
      line-height: 1.2;
      padding-left: 56px;
    }

    img {
      width: 8px;
      height: 8px;
    }
  }
}

@keyframes marqueeMove {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width: 1279px) {
  .hero-overlay .left-lateral .straight-line {
    height: 224px;
  }



  .hero-overlay .right-lateral .email-sideway {
    display: none;
  }

  .hero-overlay .right-lateral .mail {
    display: block;
  }

  .marquee {
    bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .hero-overlay .right-lateral .straight-line {
    height: 124px;
  }
}

@media (max-width: 480px) {
  .hero-overlay .left-lateral .straight-line {
    height: 156px;
  }

  .hero-overlay .right-lateral .straight-line {
    height: 78px;
  }

  .marquee {
    height: 42px;
    bottom: 20px;
  }

  .hero-title {
    margin-bottom: 30%;
  }
}