:host {
  z-index: 1;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h2 {
      color: var(--color-accent);
      text-align: center;
    }

    h1 {
      letter-spacing: -.02em;
    }

    h2 {
      font-weight: var(--fw-regular);
      margin-bottom: 12px;
    }

    .hero-buttons {
      display: flex;
      gap: 48px;
      margin-top: 40px;
    }
  }
}

.hero-overlay {
  position: absolute;
  inset: 0;
  height: 100dvh;
  padding-inline: clamp(16px, 4vw, 96px);
  display: flex;
  align-items: end;
  justify-content: center;
  pointer-events: none;
  z-index: 1;

  .overlay-aside {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .left-lateral {
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .scroll-down {
      position: relative;
      width: 30px;
      height: var(--btn-height);
      border: var(--btn-border);
      border-radius: var(--btn-border-radius-xs);
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .scroll-down::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 14px;
      background: url(/assets/icons/arrow_down_hero.svg) no-repeat center / contain;
      animation: arrowBounce 1s cubic-bezier(0.42, 0, 0.58, 1) infinite 10ms;
    }

    .straight-line {
      width: 1px;
      height: 240px;
      border-radius: 32px;
      border: 1px solid var(--color-primary);
    }
  }

  .right-lateral {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .social-lateral {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    .straight-line {
      width: 1px;
      height: 100%;
      border-radius: 32px;
      border: 1px solid var(--color-secondary);
    }
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }
}