.btn,
.main,
.secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: var(--btn-height);
  padding: 0 24px 0 24px;

  color: var(--color-secondary);
  background-color: var(--color-transparent);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  width: auto;
  white-space: nowrap;
  min-width: fit-content;

  border: var(--btn-border-default);
  border-radius: var(--btn-border-radius);
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  line-height: 1;
  will-change: transform;

  &:hover {
    color: var(--color-primary);
    border: var(--btn-border);
  }
}

.btn,
.main span {
  display: inline-block;
  transform: translateX(0);
  transition: transform 250ms ease;
}

.btn,
.main:hover span {
  display: inline-block;
  animation: centerToLeftLoop 2000ms linear infinite;
}

@keyframes centerToLeftLoop {
  0% {
    transform: translateX(0);
  }

  49.9% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  }
}

.btn,
.secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/icons/arrow-outward-prime.svg) no-repeat center / contain;
    transition: transform 200ms ease;
  }

  &:hover::after {
    transform: translateX(5px) translateY(-2px);
  }
}

.arrow-left,
.arrow-right {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;

    background-color: var(--color-secondary);
    transition: background-color 250ms ease, transform 250ms ease;
  }
}

.arrow-left::before {
  -webkit-mask: url("/assets/icons/arrow_back.svg") no-repeat center / contain;
  mask: url("/assets/icons/arrow_back.svg") no-repeat center / contain;
}

.arrow-right::before {
  -webkit-mask: url("/assets/icons/arrow_forward.svg") no-repeat center / contain;
  mask: url("/assets/icons/arrow_forward.svg") no-repeat center / contain;
}

.arrow-right:hover::before {
  background-color: var(--color-primary);
  transform: translateX(4px);
}

.arrow-left:hover::before {
  background-color: var(--color-primary);
  transform: translateX(-4px);
}

.close {
  background: none;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    transition: opacity 250ms ease;
  }

  &:hover img {
    opacity: 0;
  }

  .hover {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms ease, transform 250ms ease;
  }

  &:hover .hover {
    opacity: 1;
    transform: scale(1.3);
  }
}

button.is-disabled,
button:disabled {
  pointer-events: none !important;
  transform: none !important;
  animation: none !important;
  transition: none !important;
  color: color-mix(in srgb, var(--color-secondary) 80%, transparent);
  opacity: 0.6;
}