<app-main-layout>
  <section class="content-wrapper">
    <article class="content-section-min privacy-policy">
      <h1 class="headline" [innerHTML]="'privacyPolicy.headline' | translate"></h1>
      <div class="content">
        <div>
          <h2>{{'privacyPolicy.controller.heading'| translate}}</h2>
          <p>{{'privacyPolicy.controller.intro'| translate}}</p>
          <p>{{ 'privacyPolicy.controller.name' | translate }}</p>
        </div>
        <div>
          <h2>{{'privacyPolicy.rights.heading'| translate}}</h2>
          <p>{{ 'privacyPolicy.rights.intro' | translate }}</p>
          <ul class="list">
            <li>{{ 'privacyPolicy.rights.items.access' | translate }}</li>
            <li>{{ 'privacyPolicy.rights.items.rectification' | translate }}</li>
            <li>{{ 'privacyPolicy.rights.items.erasure' | translate }}</li>
            <li>{{ 'privacyPolicy.rights.items.restriction' | translate }}</li>
            <li>{{ 'privacyPolicy.rights.items.objection' | translate }}</li>
            <li>{{ 'privacyPolicy.rights.items.portability' | translate }}</li>
          </ul>
          <p>{{ 'privacyPolicy.rights.revocation' | translate }}</p>
          <p>{{ 'privacyPolicy.rights.complaint' | translate }}</p>
          <p>{{ 'privacyPolicy.rights.supervisoryListHtml' | translate }}
            <app-link label="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
              variant="legal-link"
              href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
              [isExternal]="true"></app-link>
          </p>
        </div>
        <div>
          <h2>{{ 'processing.heading' | translate }}</h2>
          <h3>{{ 'processing.logs.heading' | translate }}</h3>
          <h4>{{ 'processing.logs.typePurposeHeading' | translate }}</h4>
          <p>{{ 'processing.logs.typePurposeText1' | translate }}</p>
          <p>{{ 'processing.logs.typePurposeText2' | translate }}</p>
          <ul class="list">
            <li>{{ 'processing.logs.typePurposeListSmoothOperation' | translate }}</li>
          </ul>
          <p>{{ 'processing.logs.typePurposeText3' | translate }}</p>
          <h4>{{ 'processing.logs.legalBasisHeading' | translate }}</h4>
          <p>{{ 'processing.logs.legalBasisText' | translate }}</p>
          <h4>{{ 'processing.logs.recipientsHeading' | translate }}</h4>
          <p>{{ 'processing.logs.recipientsText' | translate }}</p>
          <h4>{{ 'processing.logs.storageHeading' | translate }}</h4>
          <p>{{ 'processing.logs.storageText1' | translate }}</p>
          <p>{{ 'processing.logs.storageText2' | translate }}</p>
          <h4>{{ 'processing.logs.provisionHeading' | translate }}</h4>
          <p>{{ 'processing.logs.provisionText1' | translate }}</p>
          <p>{{ 'processing.logs.provisionText2' | translate }}</p>
          <h4>{{ 'processing.logs.objectionHeading' | translate }}</h4>
          <p>{{ 'processing.logs.objectionText' | translate }}</p>
          <h3>{{ 'processing.contact.heading' | translate }}</h3>
          <h4>{{ 'processing.contact.typePurposeHeading' | translate }}</h4>
          <p>{{ 'processing.contact.typePurposeText1' | translate }}</p>
          <p>{{ 'processing.contact.typePurposeText2' | translate }}</p>
          <ul class="list">
            <li>{{ 'processing.contact.typePurposeListUrl' | translate }}</li>
          </ul>
          <p>{{ 'processing.contact.typePurposeText3' | translate }}</p>
          <p>{{ 'processing.contact.typePurposeText4' | translate }}</p>
          <p>{{ 'processing.contact.typePurposeText5' | translate }}</p>
          <h4>{{ 'processing.contact.legalBasisHeading' | translate }}</h4>
          <p>{{ 'processing.contact.legalBasisText1' | translate }}</p>
          <p>{{ 'processing.contact.legalBasisText2' | translate }}</p>
          <p>{{ 'processing.contact.legalBasisText3' | translate }}</p>
          <h4>{{ 'processing.contact.recipientsHeading' | translate }}</h4>
          <p>{{ 'processing.contact.recipientsText' | translate }}</p>
          <h4>{{ 'processing.contact.storageHeading' | translate }}</h4>
          <p>{{ 'processing.contact.storageText1' | translate }}</p>
          <p>{{ 'processing.contact.storageText2' | translate }}</p>
          <h4>{{ 'processing.contact.provisionHeading' | translate }}</h4>
          <p>{{ 'processing.contact.provisionText1' | translate }}</p>
          <p>{{ 'processing.contact.provisionText2' | translate }}</p>
          <h4>{{ 'processing.contact.objectionHeading' | translate }}</h4>
          <p>{{ 'processing.contact.objectionText' | translate }}</p>
        </div>
        <div>
          <h2>{{ 'objectionInfo.heading' | translate }}</h2>
          <h3>{{ 'objectionInfo.caseBasedHeading' | translate }}</h3>
          <p>{{ 'objectionInfo.caseBasedText1' | translate }}</p>
          <p>{{ 'objectionInfo.caseBasedText2' | translate }}</p>
          <h3>{{ 'objectionInfo.recipientHeading' | translate }}</h3>
          <p>{{ 'objectionInfo.recipientPlaceholder' | translate }}</p>
        </div>
        <div>
          <h2>{{ 'changes.heading' | translate }}</h2>
          <p>{{ 'changes.text' | translate }}</p>
        </div>
        <div>
          <h2>{{ 'questions.heading' | translate }}</h2>
          <p>{{ 'questions.text' | translate }}</p>
        </div>
        <div>
          <h2>{{ 'copyright.heading' | translate }}</h2>
          <p><em>{{'copyright.text1' | translate}}
              <app-link label="externe Datenschutzbeauftragte" variant="legal-link"
                href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" [isExternal]="true"></app-link>
              {{'copyright.text2' | translate}}</em></p>
        </div>
      </div>
    </article>
  </section>
</app-main-layout>