.privacy-policy {
  flex-direction: column;
  padding: 148px 0 100px 0;

  .headline {
    font-family: var(--font-fira-code);
    font-weight: var(--fw-bold);
    font-size: var(--fs-hero);
    color: var(--color-primary);
    line-height: 1.2;
    padding-bottom: 64px;
  }
}