:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 98px;
  z-index: 2;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, #1C1C1C 0%, #1C1C1C 20%, #08463B 100%);
    z-index: -1;
  }
}

.header-content {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    width: 400px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  a {
    display: inline-flex;
    align-items: center;

    img {
      width: 132px;
      height: 48px;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}