@if (((isOpen && projectKey) || isClosing)) {
<div class="project-overlay-position" [class.is-closing]="isClosing">
  <article class="project-overlay" [class.is-closing]="isClosing">
    <app-buttons class="overlay-close" type="button" variant="close" imgSrc="/assets/icons/close-small.svg"
      iconHoverSrc="/assets/icons/close-small-hover.svg" (click)="onClose()">
    </app-buttons>
    <div class="overlay-content">
      <div class="overlay-info-btn">
        <app-info-box [variant]="'project-overlay'" [content]="{
      subtitle: ('projects.overlay.' + projectKey + '.subtitle' | translate),
          title: ('projects.overlay.' + projectKey + '.title' | translate),
          secondaryTitle: ('projects.overlay.secondaryTitle' | translate),
          text: ('projects.overlay.' + projectKey + '.text' | translate)
    }"></app-info-box>
        @if (currentOverlaySkills) {
        <div class="overlay-skills-row">
          @for (skill of currentOverlaySkills.skills; let i = $index; track i) {
          <div class="flex-center overlay-skill">
            <img class="project-icon" [ngSrc]="currentOverlaySkills.iconSrc[i]" [alt]="skill" width="24" height="24" />
            <span class="label">{{ skill }}</span>
          </div>
          }
        </div>
        }
        @if (currentProjectLinks) {
        <div class="overlay-btn">
          <app-link label="GitHub" variant="overlay-btn" [isExternal]="true" [href]="currentProjectLinks.github">
          </app-link>
          <app-link label="Live Test" variant="overlay-btn" [isExternal]="true" [href]="currentProjectLinks.live">
          </app-link>
        </div>
        }
      </div>
      @if (currentProjectImage) {
      <img class="project-img" [ngSrc]="currentProjectImage" alt="Project screenshot" width="520" height="370" />
      }
    </div>
    <app-buttons class="overlay-next" [label]="'projects.overlay.nextBtn' | translate" variant="secondary"
      (click)="showNextProject()"></app-buttons>
  </article>
</div>
}