.project-overlay-position {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: color-mix(in srgb, var(--color-background) 80%, transparent);
  animation: fadeIn 250ms ease forwards;
}

.project-overlay {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 656px;
  border-radius: var(--btn-border-radius-xs);
  border: var(--btn-border);
  background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-content {
    max-height: 80dvh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .project-img {
      border-radius: 32px;
      width: 520px;
      height: auto;
    }
  }

  .overlay-skills-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    .overlay-skill {
      gap: 4px;
    }

    .label {
      font-family: var(--font-karla);
      font-size: var(--fs-xs);
      font-weight: var(--fw-regular);
      color: var(--color-secondary);
      line-height: 1.2;
    }

  }

  .overlay-info-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }

  .overlay-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }

  .overlay-close {
    position: absolute;
    top: 56px;
    right: 80px;
  }

  .overlay-next {
    position: absolute;
    bottom: 56px;
    right: 80px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width:1247px) {
  .project-overlay-position {
    padding: 16px;
  }

  .project-overlay .overlay-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .project-overlay .overlay-content .project-img {
    width: 100%;
    max-width: 343px;
    border-radius: 16px;
  }

  .project-overlay {
    min-height: 100dvh;
    padding: 95px 12px 95px 12px;
  }

  .project-overlay .overlay-close {
    top: 16px;
    right: 16px;
  }

  .project-overlay .overlay-next {
    bottom: 30px;
    right: 16px;
  }

  .project-overlay .overlay-info-btn {
    width: 100%;
    max-width: 343px;
    justify-content: center;
    gap: 32px;
  }

  .project-overlay .overlay-btn {
    justify-content: space-around;
    gap: 16px;
  }
}