
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: var(--container-min-height);
  background: linear-gradient(45deg, #1C1C1C 10%, #1C1C1C 35%, #08463B 100%);
  z-index: 0;
}