.reveal {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transition-duration: 0.8s;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

.reveal-left {
  transform: translateX(calc(-1 * min(120px, 12vw)));
}

.reveal-right {
  transform: translateX(calc(min(120px, 12vw)));
}

.reveal-bottom {
  transform: translateY(120px);
}