.reveal {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-duration: 0.6s;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

.reveal-left {
  transform: translateX(-60px);
}

.reveal-right {
  transform: translateX(60px);
}