.reveal {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transition-duration: 0.8s;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

.reveal-left {
  transform: translateX(-120px);
}

.reveal-right {
  transform: translateX(120px);
}

.reveal-bottom {
  transform: translateY(120px);
}