.reveal {
  opacity: 0;
  transition: 0.8s ease-out;
  transition-delay: 0.2s;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

.reveal-left {
  transform: translateX(calc(-1 * min(100px, 8vw)));
}

.reveal-right {
  transform: translateX(calc(min(100px, 3vw)));
}

.reveal-bottom {
  transform: translateY(100px);
}

::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 250ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
