.reveal {
  opacity: 0;
  transition: 0.9s ease-out;
  transition-delay: 0.3s;
}

.reveal.is-visible {
  opacity: 1;
  transform: translate(0);
}

.reveal-left {
  transform: translateX(calc(-1 * min(100px, 8vw)));
}

.reveal-right {
  transform: translateX(calc(min(100px, 3vw)));
}

.reveal-bottom {
  transform: translateY(100px);
}