:root {
  --color-primary: #3DCFB6;
  --color-secondary: #FFFFFF;
  --color-background: #1C1C1C;
  --color-sec-background: #3DCFB61A;
  --color-accent: #D9D9D9;
  --color-transparent: transparent;
  --color-error: #EC7B7BCC;

  --btn-border-default: 1px solid var(--color-secondary);
  --btn-border: 1px solid var(--color-primary);
  --btn-border-radius: 100px;
  --btn-border-radius-xs: 32px;
  --btn-height: 48px;

  .highlight {
    color: var(--color-primary);
  }
}