.slide-card {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  width: 100%;
  max-width: 632px;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  border: var(--btn-border);
  background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-transparent));
  opacity: 0;
  pointer-events: none;
  transition: transform 1000ms ease-in-out, opacity 1000ms linear, background-color 300ms ease-out;

  .card-text {
    font-family: var(--font-karla);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    color: var(--color-secondary);
    line-height: 1.2;
  }

  .card-ref-partner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .card-partner {
    font-family: var(--font-karla);
    font-size: var(--fs-xs);
    font-weight: var(--fw-regular);
    color: var(--color-secondary);
    line-height: 1.2;
    white-space: nowrap;
    display: inline-block;
  }

  .divider {
    width: 100%;
    height: 0px;
    border-radius: 32px;
    border: 1px solid var(--color-secondary);
  }
}

.is-center {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
  background-color: color-mix(in srgb, var(--color-primary) 30%, var(--color-transparent));
}

.is-left {
  transform: translateX(-50%) translateX(-100%) scale(0.8);
  opacity: 0.5;
  z-index: 2;
}

.is-right {
  transform: translateX(-50%) translateX(100%) scale(0.8);
  opacity: 0.5;
  z-index: 2;
}

.is-off-left {
  transform: translateX(-50%) translateX(-215%);
  opacity: 0;
  z-index: 1;
}

.is-off-right {
  transform: translateX(-50%) translateX(215%);
  opacity: 0;
  z-index: 1;
}

.slideshow.is-animating .is-center {
  background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-transparent));
}