.slide-card {
  position: absolute;
  top: 0;
  bottom: 0;

  margin-block: auto; 

  width: 100%;
  max-width: 632px;
  height: 90%;
  padding: 20px;

  border-radius: 32px;
  border: var(--btn-border);
  background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-transparent));

  opacity: 0;
  pointer-events: none;
  transition: transform 300ms ease, opacity 300ms ease, filter 300ms ease;
}

/* Bewegung der Karten */
.is-center {
  transform: translateX(-50%);
  opacity: 1;
  z-index: 3;
  filter: none;
  pointer-events: auto;
  height: 100%;
  padding: 40px;
  background-color: color-mix(in srgb, var(--color-primary) 30%, var(--color-transparent));
}

.is-left {
  transform: translateX(-50%) translateX(-115%);
  opacity: 0.6;
  z-index: 2;
}

.is-right {
  transform: translateX(-50%) translateX(115%);
  opacity: 0.6;
  z-index: 2;
}

/* Offscreen (für mehr als 3 Items) */
.is-off-left {
  transform: translateX(-50%) translateX(-230%);
  opacity: 0;
  z-index: 1;
}

.is-off-right {
  transform: translateX(-50%) translateX(230%);
  opacity: 0;
  z-index: 1;
}