:host {
  max-width: 1248px;
  padding: 144px 0 144px 0;
}

.contact-me-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width:1279px) {
  .contact-me-section {
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }
}

@media (max-width: 1279px) {
  :host {
    padding: 100px 0 100px 0;
  }
}