.legal-notice {
  flex-direction: column;
  padding: 148px 0 100px 0;

  .headline {
    font-family: var(--font-fira-code);
    font-weight: var(--fw-bold);
    font-size: clamp(var(--fs-xxl), 6vw, var(--fs-hero));
    color: var(--color-primary);
    line-height: 1.2;
    padding-bottom: 64px;
    text-align: center;
  }

  .content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    .list li,
    h2,
    p {
      font-family: var(--font-karla);
      font-weight: var(--fw-regular);
      font-size: var(--fs-xs);
      line-height: 1.2;
      white-space: normal;
      overflow-wrap: anywhere;
    }

    h2 {
      color: var(--color-secondary);
      padding-bottom: 8px;
    }

    .list li,
    p {
      color: var(--color-primary);
    }

    .list {
      flex-direction: column;
      gap: 4px;
    }

    .list li::before {
      content: "•";
      color: var(--color-primary);
      font-size: var(--fs-md);
      line-height: 1;
      margin-right: 8px;
    }
  }
}