:host {
  align-items: flex-start;
}

.skills-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 96px;
  padding-bottom: 144px;

  .skill-box{
    max-width: 520px;
  }
}