:host {
  justify-content: center;
}

.skills-section {
  width: 100%;
  max-width: 1248px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 144px;

  &::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -13px;
    width: 150px;
    height: 90%;
    background: #08463B;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 0;
  }

  .skill-box {
    max-width: 520px;
  }
}

@media (max-width: 1279px) {
  .skills-section {
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
  }
}