<article class="skillset">
  <ul>
    @for (skill of skillsList; track trackById($index, skill)) {
    <li class="skill-card reveal reveal-right" appRevealOnScroll [once]="true">
      <img class="skill-img" ngSrc="{{ skill.iconSrc }}" alt="{{ skill.label }}" width="64" height="64" />
      <span class="skill-span">{{ skill.label }}</span>
      @if (skill.id === 'growth') {
      @let tip = getTooltipById('growth');
      @if (tip) {
      <div class="skill-tooltip">
        <div class="tooltip-wrapper">
          <p class="tooltip-text">{{ tip.text | translate  }}</p>
          <div class="tooltip-frame">
            @for (img of tip.images; track $index) {
            <div class="tip-frame">
              <img ngSrc="{{ img.iconSrc }}" width="32" height="32" alt="{{ img.label }}" />
              <span>{{ img.label }}</span>
            </div>
            }
          </div>
        </div>
      </div>
      }
      }
    </li>
    }
  </ul>
</article>