:host {
  padding: 144px 0 144px 0;
}

.about-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1248px;
  height: 936px;

  &::before {
    content: "";
    position: absolute;
    right: -40px;
    bottom: -48px;
    width: 150px;
    height: 90%;
    background: #08463B;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 0;
  }

  .info-media {
    position: relative;
    inset: 0;
    transition: opacity 250ms ease, transform 250ms ease;
    z-index: 2;

    &:hover::after {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      background: url("/assets/images/project-img-hover.png") no-repeat center / contain;
      z-index: -1;
      opacity: 1;
      transform: translate(-20px, 20px);
    }

    .image {
      width: 100%;
      max-width: 568px;
      border-radius: 30px;
    }
  }

  .info-about {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 1279px) {
  :host {
    padding: 100px 0 100px 0;
  }

  .about-section {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-section::before {
    right: 0;
    width: 120px;
    height: 60%;
    filter: blur(60px);
  }

  .about-section .info-media,
  .about-section .info-about {
    position: static;
    width: 100%;
    max-width: 568px;
  }

  .about-section .info-about {
    margin-top: 32px;
  }
}

@media (max-width: 480px) {
  .about-section .info-media {
    height: auto;
  }
}