:host {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.about-section {
  position: relative;
  top: 0;
  left: 0;
  width: 1240px;
  height: 708px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.info-media {
  position: absolute;
  width: 568px;
  height: 588px;
}

.info-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 568px;
  height: 588px;
}