.about-section {
  position: relative;
  top: 0;
  left: 0;
  width: 1240px;
  height: 708px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    right: -100px;
    bottom: 0;
    width: 200px;
    height: 85%;
    background: #08463B;
    filter: blur(80px);
    opacity: 0.5;
    z-index: 0;
  }

  .info-media {
    position: absolute;
    width: 568px;
    height: 588px;
  }

  .info-about {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}