@if (isExternal) {
<!-- External link -->
<a class="link" [ngClass]="variant" [href]="href" target="_blank" rel="noopener noreferrer">
  <span class="link-label">{{ label }}</span>
  @if (iconSrc) {
  <span class="logo">
    <img [src]="iconSrc" [alt]="iconAlt" class="link-logo" />
    @if (iconHoverSrc) {
    <img [src]="iconHoverSrc" [alt]="iconAlt" class="link-logo hover" />
    }
  </span>
  }
</a>
} @else if (isSection) {
<!-- Internal link-->
<a class="link" [ngClass]="variant" [href]="href">
  {{ label }}
  @if (iconSrc) {
  <span class="logo">
    <img [src]="iconSrc" [alt]="iconAlt" class="link-logo" />
    @if (iconHoverSrc) {
    <img [src]="iconHoverSrc" [alt]="iconAlt" class="link-logo hover" />
    }
  </span>
  }
</a>
} @else {
<!-- Route link-->
<a class="link" [ngClass]="variant" [routerLink]="href" target="_blank" routerLinkActive="active">
  {{ label }}
</a>
}