@if (isExternal) {
<!-- External link -->
<a class="link" [ngClass]="variant" [href]="href" target="_blank" rel="noopener noreferrer">
  {{ label }}
</a>
} @else if (isSection) {
<!-- Internal link-->
<a class="link" [ngClass]="variant" [href]="href">
  {{ label }}
  @if (iconSrc) {
  <img [src]="iconSrc" [alt]="iconAlt" class="link-logo" />
  }
</a>
} @else {
<!-- Route link-->
<a class="link" [ngClass]="variant" [routerLink]="href" target="_blank" routerLinkActive="active">
  {{ label }}
</a>
}