.link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-fira-code);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  width: auto;
  white-space: nowrap;
  min-width: fit-content;
  cursor: pointer;
  pointer-events: auto;
  transition: color 200ms ease;
}

.link.section::after {
  content: "";
  position: absolute;
  top: 24px;
  width: 8px;
  height: 8px;
  background: url("/assets/icons/radio_button_unchecked.svg") no-repeat center / contain;
  opacity: 0;
  transform: translateY(4px);
  transition: opacity 200ms ease, transform 200ms ease;
}

.link.section:hover {
  color: var(--color-primary);

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}

.lateral-mail {
  font-family: var(--font-karla);
  line-height: 1.2;

  &:hover {
    color: var(--color-primary);
  }
}

.legal-link {
  font-family: var(--font-karla);
  font-size: var(--fs-xs);
  line-height: 1.2;

  &:hover {
    color: var(--color-primary);
  }
}

.lateral-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-karla);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.2;
  cursor: pointer;
  pointer-events: auto;

  &::after {
    content: "";
    position: absolute;
    right: -12px;
    width: 8px;
    height: 8px;
    background: url("/assets/icons/radio_button_unchecked.svg") no-repeat center / contain;
    opacity: 0;
    transform: translateX(4px);
    transition: opacity 200ms ease, transform 200ms ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact {
  padding-bottom: 5px;
  display: inline-block;
  width: fit-content;
  font-family: var(--font-fira-code);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-primary);
  letter-spacing: -1px;
  border-bottom: 1px solid transparent;
  transition: color 300ms ease, border-color 300ms ease;


  &:hover {
    color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
  }
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .link-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 250ms ease;
  }

  &:hover .link-logo {
    opacity: 0;
  }

  .hover {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 250ms ease;
  }

  &:hover .hover {
    opacity: 1;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-karla);
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  transition: color 200ms ease;
  cursor: pointer;
  white-space: nowrap;
  min-width: fit-content;

  &:hover {
    color: var(--color-primary);
  }

  &::after {
    content: "";
    position: absolute;
    left: -12px;
    width: 8px;
    height: 8px;
    background: url("/assets/icons/radio_button_unchecked.svg") no-repeat center / contain;
    opacity: 0;
    transform: translateX(4px);
    transition: opacity 200ms ease, transform 200ms ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: var(--btn-height);
  padding: 0 24px 0 24px;
  color: var(--color-secondary);
  background-color: var(--color-transparent);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  width: auto;
  white-space: nowrap;
  min-width: fit-content;
  border: var(--btn-border-default);
  border-radius: var(--btn-border-radius);
  user-select: none;
  cursor: pointer;
  will-change: transform;

  &:hover {
    color: var(--color-primary);
    border: var(--btn-border);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/assets/icons/arrow-outward-prime.svg) no-repeat center / contain;
    transition: transform 200ms ease;
  }

  &:hover::after {
    transform: translateX(5px) translateY(-2px);
  }
}