.info-box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 568px;
  height: 588px;
}

.info-box_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 30px;
  border: 1px solid #3DCFB6;
  background-color: #1f2e2b;
  color: #fff;
  padding: 32px;
  gap: 40px;

  h2 {
    font-family: var(--font-fira-code);
    font-size: var(--fs-hero);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .info-box_text {
    font-family: var(--font-karla);
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    color: var(--color-secondary);
  }
}