<article class="info-box">
  <span class="info-subtitle">{{subtitle}}</span>
  <div class="info-box_content">
    <h2>{{title}}</h2>
    @if (aboutText) {
    <p class="info-box_text">{{aboutText}}</p>
    }
    @if (question?.length && questionText) {
    <p class="info-box_text">{{skillText}}</p>
    <div class="info-box_question">
      <p class="question">
        @for (part of question; track $index) {
        <span [class.highlight]="part.highlight">{{ part.text }}</span>
        }
      </p>
      <p class="question-text">{{questionText}}</p>
      <app-buttons class="question-btn" label="Let´s Talk"></app-buttons>
    </div>
    }
    @if (infos) {
    <ul class="info-box_list">
      @for (i of infos; track $index) {
      <li>
        @if (i.iconSrc) {
        <img [src]="i.iconSrc" alt="">
        }
        <p>{{i.description}}</p>
      </li>
      }
    </ul>
    }
  </div>
</article>