.references-section {
  width: 100%;
  gap: 48px;

  h2 {
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .flex-center {
    max-width: 184px;
    gap: 20px;

    .arrow {
      width: 40px;
      height: 40px;
    }
  }

  .fade-show {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      pointer-events: none;
      z-index: 5;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, var(--color-background) 0%, transparent 100%);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, var(--color-background) 0%, transparent 100%);
    }
  }
}