.references-section {
  width: 100%;
  gap: 48px;

  h2 {
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .flex-center {
    max-width: 184px;
    gap: 20px;

    .arrow {
      width: 40px;
      height: 40px;
    }
  }

  .fade-show {
    width: 100%;
    max-height: 274px;
  }

  .fade-frame {
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 30px;
    border: var(--btn-border);
    background-color: var(--color-sec-background);
    padding: 32px;
  }

  .team-partner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}