.references-section {
  position: relative;
  width: 100%;
  gap: 48px;

  &::before {
    content: "";
    position: absolute;
    top: 82px;
    left: 26.1%;
    width: 90px;
    height: 64px;
    transform: translateX(-50%);
    background: url("/assets/icons/quotes.svg") no-repeat center;
    z-index: 10;
    pointer-events: none;
  }

  h2 {
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .slider-status {
    gap: 8px;
  }

  .fade-show {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      pointer-events: none;
      z-index: 5;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, var(--color-background) 0%, transparent 100%);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, var(--color-background) 0%, transparent 100%);
    }
  }
}

.slide-arrow {
  width: 40px;
  height: 40px;
}

.status {
  min-width: 110px;
  display: flex;
  align-items: center;

  .progress {
    position: relative;
    flex: 1;
    height: 8px;
    border-radius: var(--btn-border-radius);
    background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-transparent));
    overflow: hidden;
  }

  .bar {
    height: 100%;
    width: 0;
    background: var(--color-primary);
    transition: width 1000ms ease-in-out;
  }
}