.references-section {
  width: 100%;
  gap: 48px;

  h2 {
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }

  .flex-center {
    max-width: 184px;
    gap: 20px;

    .arrow {
      width: 40px;
      height: 40px;
    }
  }

  .fade-show {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}